@font-face {
  font-family: "iconfont";
  src: url('/assets/font/iconfont.eot');
  src: url('/assets/font/iconfont.eot?#iefix') format('eot'),
    url('/assets/font/iconfont.woff') format('woff'),
    url('/assets/font/iconfont.ttf') format('truetype'),
    url('/assets/font/iconfont.svg#iconfont') format('svg');
}

[class^="icon-"], [class*=" icon-"] {
  font-family: "iconfont" !important;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; /* 修复锯齿问题 */
  -moz-osx-font-smoothing: grayscale; /* 修复锯齿问题 */
}

.icon-arrow-right:before {
  content: "\ea01";
}

.icon-right-circle:before {
  content: "\ea02";
}
