/**
* Copyright 2015 creditease Inc. All rights reserved.
* @desc 样式重置
* @author evan2x
* @email evan2zaw@gmail.com
* @date 2015/02/03
*/

html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6,
form, fieldset, legend, img, blockquote {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Arial, Roboto, "Droid Sans", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  -webkit-font-smoothing: antialiased;
}

ul, ol {
  list-style: none;
}

fieldset, img {
  border: none;
}

button, input, textarea, select {
  font-family: inherit;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button {
  cursor: pointer;
}

button[disabled],
input[disabled],
textarea[disabled],
select[disabled] {
  cursor: default;
  color: #B3B3B3;
  border-color: #EFEFEF;
  background-color: #EFEFEF;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input {
  vertical-align: middle;
}

textarea {
  resize: none;
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

small {
  font-size: 12px;
}

sub, sup {
  position: relative;
  font-size: 75%;
}

sub {
  top: -0.5em;
}

sup {
  bottom: -0.25em;
}

nav, header, footer, aside, section, article, details,
figure, figcaption, hgroup, summary {
  display: block;
}

canvas, audio, video {
  display: inline-block;
}

mark {
  background-color: #ff0;
  color: #000;
}

a, 
a:hover,
a:active {
  text-decoration: none;
}

a,
input,
textarea {
  outline: none;
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

input, textarea {
  -webkit-appearance: none;
}
